/* color palette */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Dosis");
body {
  font-family: "Dosis", sans-serif;
  padding-top: 3.125rem;
  background-color: #c7d6d5; }
  body h1, body h2, body h3 {
    font-size: 1.875rem;
    text-align: center;
    color: #6d7275; }
  body h1 {
    font-size: 2.5rem;
    font-weight: bold; }
  body h2 {
    color: #c20114;
    margin: 2.125rem 0 1.25rem 0; }
  body .hidden {
    display: none; }
  body .container-fluid {
    max-width: 1024px; }

.header img {
  margin: 1.0rem auto 1.875rem auto;
  border: 0.5rem solid #c20114;
  border-radius: 1.563rem;
  max-width: 12.5rem;
  max-height: 12.5rem; }

.info {
  margin: 3.75rem auto 1.125rem auto; }

.navbar {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 1.25rem;
  border: 0.125rem solid #6d7275;
  border-radius: 3.75rem;
  background-color: #c7d6d5; }
  .navbar a {
    display: inline-block;
    color: #ecebf3;
    padding: 0.875rem 0.875rem;
    font-size: 1.25rem; }
    .navbar a:link, .navbar a:visited {
      color: #c20114; }
    .navbar a:hover, .navbar a:active {
      text-decoration: none;
      color: #c20114; }

.about p, .about li {
  color: #c7d6d5;
  font-size: 1.25em; }

.about .bio {
  padding: 1.25rem 1.25rem 0 1.25rem;
  border-radius: 1.563rem;
  background: #6d7275; }

.about img {
  width: 100%; }

.about p {
  text-indent: 2.5rem;
  padding-bottom: 1.25rem; }

.portfolio {
  position: relative;
  text-align: center; }
  .portfolio .in-progress {
    border: 0.3125rem solid #c20114; }
  .portfolio p {
    color: #c20114;
    padding-bottom: 10px; }
  .portfolio .portfolio-top {
    display: inline-block;
    position: relative; }
    .portfolio .portfolio-top img {
      vertical-align: bottom; }
  .portfolio .portfolio-bottom {
    display: inline-block;
    position: relative; }
    .portfolio .portfolio-bottom img {
      vertical-align: top; }
  .portfolio img {
    margin: 0.225rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 0.3125rem solid #6d7275;
    border-radius: 1.5rem;
    transition: width .7s, height .7s; }
    .portfolio img:hover {
      width: 12.5rem;
      height: 12.5rem;
      z-index: 1; }

.resume {
  color: #c7d6d5;
  position: relative;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  border-radius: 1.563rem;
  background: #6d7275; }
  .resume h4 {
    padding-top: 1.25rem;
    border-bottom: 0.0625rem solid #c7d6d5;
    font-size: 1.25rem; }
  .resume .place {
    display: inline-block;
    font-size: 1.25rem; }
  .resume .date {
    display: inline-block;
    float: right; }
  .resume .title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.9375rem;
    padding: 0.625rem 0; }
  .resume .divider {
    margin: 0.625rem auto;
    width: 100%;
    border-bottom: 0.0625rem dotted #c7d6d5; }

.contact {
  font-size: 2.0rem;
  text-align: center; }
  .contact a {
    text-decoration: none; }
    .contact a h3 {
      margin-bottom: 1.25rem; }
      .contact a h3:link, .contact a h3:visited, .contact a h3:hover, .contact a h3:active {
        color: #c20114; }
  .contact button {
    background: #c7d6d5;
    border-radius: 0.75rem;
    border: 0.125rem solid #6d7275; }
  .contact i {
    color: #6d7275; }
    .contact i:link, .contact i:visited, .contact i:hover, .contact i:active {
      text-decoration: none;
      color: #c20114; }

@media only screen and (min-width: 594px) and (max-width: 991px) {
  body {
    margin: auto;
    width: 95%; } }

@media only screen and (max-width: 594px) {
  .portfolio .portfolio-bottom {
    position: relative; }
    .portfolio .portfolio-bottom img {
      vertical-align: bottom; }
  .portfolio img {
    width: 7.0rem;
    height: 7.0rem;
    margin-bottom: 0.3125rem; }
  .navbar {
    width: 90%; }
    .navbar a {
      padding: 0.875rem 0.675rem; } }
