/* color palette */
// $color1: rgba(237, 175, 184, 1);//pink
// $color2: rgba(247, 225, 215, 1);//pale pink
// $color3: rgba(222, 219, 210, 1);//beige
// $color4: rgba(40, 88, 123, 1);//blue
// $color5: rgba(176, 196, 177, 1);//mute green

/* RGB */
$color1: rgba(12, 18, 12, 1);//black
$color2: rgba(194, 1, 20, 1);//red
$color3: rgba(109, 114, 117, 1);//gray
$color4: rgba(199, 214, 213, 1);//light gray
$color5: rgba(236, 235, 243, 1);//white

//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');

//global styles
body{
  font-family:"Dosis", sans-serif;
  padding-top:3.125rem;
  background-color: $color4;
  h1,h2,h3{
    font-size: 1.875rem;
    text-align:center;
    color: $color3;
  }
  h1{
    font-size: 2.5rem;
    font-weight:bold;
  }
  h2{
    color: $color2;
    margin: 2.125rem 0 1.25rem 0 ;
  }
  *{
    //border: 0.0625rem solid black;
  }
  .hidden{
    display:none;
  }
  .container-fluid{
    max-width:1024px;
  }

}


//header
.header{
  img{
    margin: 1.0rem auto 1.875rem auto;
    border:0.5rem solid $color2;
    border-radius: 1.563rem;
    max-width:12.5rem;
    max-height:12.5rem;
  }
}

.info{
  margin: 3.75rem auto 1.125rem auto;
}

//navbar
.navbar{
  margin:auto;
  width:80%;
  text-align: center;
  margin-top: 1.25rem;
  border:0.125rem solid $color3;
  border-radius:3.75rem;
  background-color: $color4;
  a{
    display: inline-block;
    color: $color5;
    padding: 0.875rem 0.875rem;
    font-size:1.25rem;
    &:link, &:visited{
      color:$color2;
    }
    &:hover, &:active{
      text-decoration:none;
      color: $color2;
    }
  }
}

//about
.about{
  p, li{
    color: $color4;
    font-size:1.25em;
    //font-weight:bold;
  }
  .bio{
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-radius:1.563rem;
    background:$color3;
  }
  img{
    width:100%;

  }
  p{
    text-indent:2.5rem;
    padding-bottom:1.25rem;
  }
}

//portfolio
.portfolio {
  //margin:10px;
  position: relative;
  text-align: center;
  .in-progress{
    border: 0.3125rem solid $color2;
  }
  p{
    color:$color2;
    padding-bottom:10px;

  }

  .portfolio-top{
    display: inline-block;
    position:relative;
    img{
      vertical-align: bottom;
    }
  }
  .portfolio-bottom{
    display:inline-block;
    position:relative;
    img{
      vertical-align: top;
    }
  }

  img{
    margin:0.225rem;
    width:6.25rem;
    height:6.25rem;
    border:0.3125rem solid $color3;
    border-radius:1.5rem;
    transition: width .7s, height .7s;
    &:hover{
      width:12.5rem;
      height:12.5rem;
      z-index:1;
    }
  }
}

//resume
.resume{
  color: $color4;
  position: relative;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  border-radius:1.563rem;
  background:$color3;
  h4{
    padding-top:1.25rem;
    border-bottom:0.0625rem solid $color4;
    font-size:1.25rem;
  }
  .place{
    display: inline-block;
    font-size:1.25rem;
  }
  .date{
    display: inline-block;
    float:right;
  }
  .title{
    font-weight:bold;
    text-decoration: underline;
    font-size: 0.9375rem;
    padding:0.625rem 0;

  }
  .responsibilities{

  }
  .divider{
    margin: 0.625rem auto;
    width:100%;
    border-bottom:0.0625rem dotted $color4;
  }

}


//contact
.contact{
  font-size : 2.0rem;
  text-align:center;
  a{
    text-decoration:none;
    h3{
      margin-bottom:1.25rem;
      &:link, &:visited, &:hover, &:active{
        color: $color2;
      }
    }
  }

  button{
    background:$color4;
    border-radius: 0.75rem;
    border: 0.125rem solid $color3;
  }

  i{
    color: $color3;
    &:link, &:visited, &:hover, &:active{
      text-decoration:none;
      color: $color2;
    }
  }
}




//medium screen
@media only screen and (min-width: 594px) and (max-width: 991px){
  body{
    margin:auto;
    width:95%;
  }
}

//small screen
@media only screen and (max-width: 594px){
  .portfolio{
    .portfolio-bottom{
      position:relative;
      img{
        vertical-align: bottom;
      }
    }
    img{
      width:7.0rem;
      height:7.0rem;
      margin-bottom:0.3125rem;
    }
  }
  .navbar{
    width:90%;
    a{
      padding: 0.875rem 0.675rem;
    }
  }
}
