/* color palette */
$color1: rgba(237, 175, 184, 1);//pink
$color2: rgba(247, 225, 215, 1);//pale pink
$color3: rgba(222, 219, 210, 1);//beige
$color4: rgba(40, 88, 123, 1);//blue
$color5: rgba(176, 196, 177, 1);//mute green


//global styles
body{
  font-family:Itim, sans-serif;
  padding-top:50px;
  background-color: $color4;
  h1,h2,h3{
    font-size: 30px;
    text-align:center;
    color: $color3;
  }
  h1{
    font-size: 40px;
    font-weight:bold;
  }
  h2{
    margin: 50px 0 20px 0 ;
  }
  *{
    //border: 1px solid black;
  }

}


//header
.header{
  img{
    margin: 50px auto 30px auto;
    border:8px solid $color5;
    max-width:200px;
    max-height:200px;
  }
}

.info{
  margin: 60px auto 50px auto;
}

//navbar
.navbar{
  margin:auto;
  width:80%;
  text-align: center;
  margin-top: 20px;
  border:2px solid $color3;
  border-radius:60px;
  background-color: $color4;
  a{
    display: inline-block;
    color: $color5;
    padding: 14px 16px;
    font-size:20px;
    &:link, &:visited{
      color:$color5;
    }
    &:hover, &:active{
      text-decoration:none;
      color: $color2;
    }
  }
}

//about
.about{
  p, li{
    color: $color4;
    font-size:1.3em;
    font-weight:bold;
  }
  .bio{
    padding: 20px 20px 0 20px;
    border-radius:25px;
    background:$color3;
  }
  img{
    //left:0px;
    width:100%;

  }
  p{
    text-indent:40px;
    padding-bottom:20px;
  }
}

//portfolio
.portfolio {
  //padding-top:100px;
  position: relative;
  text-align: center;

  .portfolio-top{
    position:relative;
    img{
      vertical-align: bottom;
    }
  }
  .portfolio-bottom{
    position:relative;
    img{
      vertical-align: top;
    }
  }

    img{
      display:inline-block;
      width:100px;
      height:100px;
      border:5px solid $color3;
      border-radius:50%;
      transition: width 1s, height 1s;
      &:hover{
        width:200px;
        height:200px;
        z-index:1;
      }
  }
}

//resume
.resume{
  //margin-top:30px;
  position: relative;
    padding: 20px 20px 20px 20px;
    border-radius:25px;
    background:$color3;
  [class*="col"]{
    //border: 1px solid red;
  }
  h4{
    padding-top:20px;
    border-bottom:1px solid blue;
    font-size:20px;
    color:blue;
  }
  .place{
    display: inline-block;
    font-size:20px;
    //font-weight: bold;
  }
  .date{
    display: inline-block;
    float:right;
  }
  .title{
    font-weight:bold;
    text-decoration: underline;
    //font-style: italic;
    font-size: 15px;
    padding:10px 0;

  }
  .responsibilities{

  }
  .divider{
    margin: 10px auto;
    width:100%;
    border-bottom:1px dotted blue;
  }

}


//contact
.contact{
  padding:100px 0;
  font-size : 50px;
  text-align:center;
  button{
    background:$color4;
    border-radius:60px;
    border:2px solid $color3;
  }
}
