/* color palette */
// $color1: rgba(237, 175, 184, 1);//pink
// $color2: rgba(247, 225, 215, 1);//pale pink
// $color3: rgba(222, 219, 210, 1);//beige
// $color4: rgba(40, 88, 123, 1);//blue
// $color5: rgba(176, 196, 177, 1);//mute green

// $color1: #DF928E;//pink
// $color2: #4DCCBD;//dark mint
// $color3: #D6FFF6;//mint
// $color4: #2374AB;//blue
// $color5: #231651;//purple

// $color1: #6A6262;//dark gray
// $color2: #FF928B;//pink
// $color3: #FEC3A6;//peach
// $color4: #4B3B47;//dark purple
// $color5: #9C9990;//gray

/* RGB */
$color1: rgba(12, 18, 12, 1);//black
$color2: rgba(194, 1, 20, 1);//red
$color3: rgba(109, 114, 117, 1);//gray
$color4: rgba(199, 214, 213, 1);//light gray
$color5: rgba(236, 235, 243, 1);//white

//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');

//global styles
body{
  font-size:1.0rem;
  //font-family:"Josefin Sans", sans-serif;
  font-family:"Dosis", sans-serif;
  padding-top:50px;
  background-color: $color4;
  h1,h2,h3{
    font-size: 30px;
    text-align:center;
    color: $color3;
  }
  h1{
    font-size: 40px;
    font-weight:bold;
  }
  h2{
    color: $color2;
    margin: 50px 0 20px 0 ;
  }
  *{
    //border: 1px solid black;
  }
  .hidden{
    display:none;
  }
  .col-md-8{
    //clear: both;
    //max-width: 50%;
  }

}


//header
.header{
  img{
    margin: 50px auto 30px auto;
    border:8px solid $color2;
    border-radius: 25px;
    //border-style: outset;
    max-width:200px;
    max-height:200px;
  }
}

.info{
  margin: 60px auto 50px auto;
}

//navbar
.navbar{
  margin:auto;
  width:80%;
  text-align: center;
  margin-top: 20px;
  border:0.125rem solid $color3;
  border-radius:60px;
  background-color: $color4;
  a{
    display: inline-block;
    color: $color5;
    padding: 14px 14px;
    font-size:20px;
    &:link, &:visited{
      color:$color2;
    }
    &:hover, &:active{
      text-decoration:none;
      color: $color2;
    }
  }
}

//about
.about{
  p, li{
    color: $color4;
    font-size:1.3em;
    font-weight:bold;
  }
  .bio{
    padding: 20px 20px 0 20px;
    border-radius:25px;
    background:$color3;
  }
  img{
    //left:0px;
    width:100%;

  }
  p{
    text-indent:40px;
    padding-bottom:20px;
  }
}

//portfolio
.portfolio {
  //padding-top:100px;
  position: relative;
  text-align: center;

  .portfolio-top{
    position:relative;
    img{
      vertical-align: bottom;
    }
  }
  .portfolio-bottom{
    position:relative;
    img{
      vertical-align: top;
    }
  }

    img{
      display:inline-block;
      width:100px;
      height:100px;
      border:5px solid $color3;
      border-radius:50%;
      transition: width 1s, height 1s;
      &:hover{
        width:200px;
        height:200px;
        z-index:1;
      }
  }
}

//resume
.resume{
  color: $color4;
  //margin-top:30px;
  position: relative;
    padding: 20px 20px 40px 20px;
    border-radius:25px;
    background:$color3;
  [class*="col"]{
    //border: 1px solid red;
  }
  h4{
    padding-top:20px;
    border-bottom:1px solid $color4;
    font-size:20px;
    //color:$color2;
  }
  .place{
    display: inline-block;
    font-size:20px;
    //font-weight: bold;
  }
  .date{
    display: inline-block;
    float:right;
  }
  .title{
    //color: $color2;
    font-weight:bold;
    text-decoration: underline;
    //font-style: italic;
    font-size: 15px;
    padding:10px 0;

  }
  .responsibilities{

  }
  .divider{
    margin: 10px auto;
    width:100%;
    border-bottom:1px dotted $color4;
  }

}


//contact
.contact{
  padding:100px 0;
  font-size : 50px;
  text-align:center;
  h3{
    margin-bottom:20px;
  }
  button{
    background:$color4;
    border-radius:60px;
    border: 2px solid $color3;
  }
  i{
    color: $color3;
    &:hover, &:active{
      text-decoration:none;
      color: $color2;
      //color:pink;
    }
  }
}




//medium screen
@media only screen and (min-width: 594px) and (max-width: 991px){
  body{
    margin:auto;
    width:95%;
  }
}

//small screen
@media only screen and (min-width: 320px) and (max-width: 594px){
  .portfolio{
    img{
      width:200px;
      height:200px;
    }
  }
}
